$dark-blue: #215273;
$dark: #123b56;
$blue: #258ee3;
$white: #ffffff;
$green: #04878f;
$dark-grey: #7b808a;
$med-grey: #bfc1c9;
$light: #e5e7eb;
$black: #002c2f;

$open: "Open Sans", sans-serif;
$monst: "Montserrat", sans-serif;
$nunito: "Nunito", sans-serif;
$inter: "Inter", sans-serif;
